body{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;   
}

nav{
    background-color: rgb(63, 63, 63);
    margin: 0 20px;
}

nav ul{
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color:rgb(8, 244, 252)
}
 nav ul li{
     display: inline-block;
     padding: 10px;
     color:white;
     background-color: rgb(31, 30, 30);
    margin:5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
 }
li:hover{
    color: rgb(8, 244, 252)
}
hr{
    background-color: rgb(238, 237, 237);
    height: 6px;
    margin: 30px;
    border-radius: 20px;
    margin-top: -10px;
}
.image{
    float:right;
    margin-right:120px;
}

.title{
    margin-top:10px;
}
    
footer{
    background-color: rgb(36, 36, 36);
    margin-top: -20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: -10px;
}

footer ul{
    text-align: center;
}

footer ul li{
    display: inline-block;
    color: white;
    padding: 10px;
    margin-top: 0px;
    font-size: 15px;
    cursor: pointer;
}
 footer p{
     color: white;
     text-align: center;
     font-size:13px; 
 }
 footer .logo{
     float: center;
     height: 40px;
     width: 40px;
     display: inline;
     margin-left:600px;
 }

 footer .foot{
     position: flex;
     word-spacing: 5px;
 }
 
 .foot b{
    color:white; 
 }
  .foot b:hover{
    color:rgb(8, 244, 252);
    cursor: pointer;
 }